@import "../variables.scss";
@import "../globals.scss";

.navItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;

  }
  
  .navItem img {
    margin-top: 5px;
  }
   

   


  


