@import "../variables.scss";
@import "../globals.scss";

.slider-container {
    width: 100%;
    height: 550px;
    position: relative;
    background-color: $primary-blue-color;

    .slide {
        width: 100%;
        display: flex;

        .slide-content {
            position: absolute;
            width: 50%;
            /* left: 40px; */
            top: 20%;
            padding: 20px;
            border-radius: 8px;
            color: white;

            .title-slide {
                color: $green-color;
                @extend .title;
            }

            .description-slide {
                color: #fff;
                @extend .description;
            }
        }

        .image-container {
            position: absolute;
            width: 40%;
            right: 20px;
            right: -20px;
            top: -47px;

            .rectangle-blue {
                width: 200px;
                height: 600px;
                background-color: $dark-blue-color;
                clip-path: ellipse(90% 300px at 50% 0%);
                z-index: 2;
                position: absolute;
                transform: rotate(3.142rad);
                left: -20%;

            }

            .rectangle-green {
                width: 200px;
                height: 400px;
                background-color: $green-color;
                clip-path: ellipse(90% 300px at 50% 0%);
                z-index: 3;
                position: absolute;
                left: 35%;
            }

            .image {
                position: relative;
                z-index: 5;
                margin-top: 15%;
            }
        }
    }


}