@import './variables.scss';

:root {
  --font-primary: var(--font-poppins);
  --font-secondary: var(--font-space-grotesk);
}

body {
  font-family: var(--font-primary);
  background: #f5f5f5;
  color: $primary-blue-color;
}
