@import "./variables.scss";

.title {
  font-family: $font-secondary;
  font-size: 60px;
  font-weight: 700; // Bold
  color: $color-verde;
}

.subtitle {
  font-family: $font-secondary;
  font-size: 48px;
  font-weight: 500; // Medium
  color: $color-azul-primario;
}

.description {
  font-family: $font-primary;
  font-size: 30px;
  font-weight: 400; // Regular
  color: $color-azul-oscuro;
}

.text-p {
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 400; // Regular
}

.text-h {
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 600; // SemiBold
}
