
 $primary-blue-color: #1b4dff;
$green-color: #7EDC3B;
$grey-color: #BBBABA;
$black-color: #000000;
$white-color: #ffffff;
$dark-blue-color: #04091c;
$blue-gradient: linear-gradient(180deg, #0079FF 0%, #0079FF 19%, #11215C 100%);

$font-primary: "Poppins", sans-serif;
$font-secondary: "Space Grotesk", sans-serif;