$color-azul-primario: #1b4dff;
$color-verde: #7EDC3B;
$color-gris: #BBBABA;
$color-negro: #000000;
$color-azul-oscuro: #04091c;

$font-primary: var(--font-poppins);
$font-secondary: var(--font-space-grotesk);
